@import "fonts.css";
* {
  font-family: Georgia;
  font-weight: 400;
}

body {
  background: url(./images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}
header .mobile-menu {
  display: none;
  width: 30px;
  height: 22px;
  border: 0;
  background: url(./images/burger.png) no-repeat;
}
header nav {
  display: flex;
  column-gap: 36px;
  margin: 19px 0 0 0;
}
header nav a {
  height: 21px;
  color: #CDCDCD;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}
header nav a.current {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
header h1 {
  margin: 0 0 9px 0;
}
header .logo {
  display: flex;
  flex-direction: column;
}
header .logo a {
  color: #F1CDB3;
  text-decoration: none;
  font-size: 32px;
  letter-spacing: 2px;
  padding-bottom: 9px;
}
header .logo span {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 0 0 0 5px;
  letter-spacing: 0.1em;
}

.container {
  padding-top: 60px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.not-only {
  max-width: 1280px;
  margin: 0 auto;
}
.not-only .need-house {
  width: 460px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  padding: 223px 0 0 0;
}
.not-only .dog-need-house {
  margin: 59px 0 0;
}
.not-only .dog-need-house img {
  display: block;
}
.not-only h2 {
  width: 310px;
  margin: 0;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}
.not-only p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #CDCDCD;
  line-height: 160%;
  margin: 0;
}
.not-only .make-friend {
  font-size: 17px;
  background: #F1CDB3;
  border-radius: 100px;
  text-align: center;
  width: 207px;
  height: 52px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  line-height: 50px;
}
.not-only .make-friend:hover {
  background: #FDDCC4;
}

.about {
  padding-bottom: 89px;
  background: #FFFFFF;
}
.about .about-pets-image {
  margin: 80px 0 0 175px;
}
.about .text-block {
  max-width: 421px;
  margin: 66px 184px 0 0;
  color: #4C4C4C;
}
.about .text-block h2 {
  margin: 29px 10px 23px 0;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.about .text-block p {
  margin-bottom: 25px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
}

.our-friends {
  padding-bottom: 100px;
  background: #F6F6F6;
}
.our-friends h2 {
  font-size: 35px;
  text-align: center;
  padding: 81px 0 0 0;
  color: #545454;
  max-width: 400px;
  margin: 0 auto 58px;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.our-friends .wrapper {
  display: block;
}
.our-friends .pets {
  display: flex;
  align-items: center;
  gap: 71px;
  flex-wrap: wrap;
  margin: 0 0 61px 0;
}
.our-friends .pets .slide-left {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url(./images/arrow-left.png) no-repeat center center;
  order: -1;
}
.our-friends .pets .slide-right {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url(./images/arrow-right.png) no-repeat center center;
}
.our-friends .pets .slide-left:hover, .our-friends .pets .slide-right:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}
.our-friends .pets .pet {
  display: flex;
  align-items: center;
  width: 270px;
  height: 435px;
  flex-direction: column;
  background: #FAFAFA;
  border-radius: 9px;
}
.our-friends .pets .pet span {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.our-friends .pets .pet button {
  width: 187px;
  height: 52px;
  padding: 15px 42px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  background: transparent;
  cursor: pointer;
}
.our-friends .pets .pet:hover {
  background: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-friends .pets .pet:hover > button {
  background: #FDDCC4;
  border-color: #FDDCC4;
}
.our-friends .pets .pet:nth-child(1) {
  position: relative;
  right: 18px;
}
.our-friends .pets .pet:nth-child(3) {
  position: relative;
  left: 20px;
}
.our-friends .get-rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 261px;
  padding: 16px 0px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
  margin: 0 auto;
}
.our-friends .get-rest:hover {
  background: #FDDCC4;
}

.help {
  padding-bottom: 45px;
  background: #FFFFFF;
}
.help h2 {
  font-size: 35px;
  text-align: center;
  padding: 81px 0 0 0;
  color: #545454;
  max-width: 400px;
  margin: 0 auto 58px;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.help .help-items {
  display: flex;
  gap: 55px 120px;
  margin: 0 85px 55px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.help .help-items .help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.help .help-items .help-item span {
  font-size: 20px;
  color: #545454;
  text-align: center;
  letter-spacing: 0.06em;
}
.help .wrapper {
  display: block;
}

.in-addition {
  background: #F6F6F6;
  padding-bottom: 100px;
}
.in-addition .wrapper {
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.in-addition .in-addition-dog {
  margin: 84px 0 0 42px;
}
.in-addition .text-block {
  display: flex;
  min-width: 420px;
  margin: 52px 0 0 0;
  color: #545454;
  flex-direction: column;
}
.in-addition .text-block h2 {
  margin: 29px 0px 3px 0;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.in-addition .text-block p {
  margin-bottom: 19px;
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #545454;
}
.in-addition .text-block .credit-card {
  max-width: 318px;
  margin-bottom: 20px;
  padding: 10px 15px;
  background: url(./images/credit-card.svg) #F1CDB3 no-repeat 14px 10px;
  border-radius: 9px;
}
.in-addition .text-block .credit-card a {
  text-decoration: none;
  color: #545454;
  letter-spacing: 0.06em;
  font-size: 20px;
  padding-left: 43px;
}
.in-addition .text-block .description {
  max-width: 360px;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

footer .contacts {
  display: flex;
  padding-top: 22px;
  flex-direction: column;
  max-width: 280px;
}
footer .contacts h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
footer .contacts .email {
  background: url(./images/icon-email.svg) no-repeat 0px 3px;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-indent: 61px;
  min-height: 30px;
  margin: 0px 0 34px 0;
  padding-top: 8px;
  text-decoration: none;
}
footer .contacts .phone {
  background: url(./images/icon-phone.svg) no-repeat 0px 3px;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-indent: 61px;
  min-height: 30px;
  padding-top: 8px;
  text-decoration: none;
}
footer .addresses {
  display: flex;
  padding-top: 22px;
  flex-direction: column;
  max-width: 300px;
}
footer .addresses h3 {
  margin-bottom: 32px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
footer .addresses a {
  background: url(./images/icon-marker.png) no-repeat 0px 5px;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  min-height: 30px;
  line-height: 115%;
  text-decoration: none;
}
footer .addresses .address-1 {
  padding: 0 0 29px 40px;
}
footer .addresses .address-2 {
  padding: 8px 0 29px 40px;
}
footer .footer-puppy {
  padding: 40px 0 0 0;
}
footer .footer-puppy img {
  display: block;
}

@media screen and (max-width: 1279px) {
  header {
    padding: 30px 0 0 0;
  }

  .wrapper {
    max-width: 708px;
    padding: 0;
  }

  .not-only .wrapper {
    flex-direction: column;
    gap: 99px;
    align-items: center;
  }
  .not-only .need-house {
    margin: 0 auto;
    padding: 60px 0 0 0;
  }
  .not-only .dog-need-house {
    margin: 0;
    padding: 0 0 0 138px;
  }
  .not-only .make-friend {
    margin: 0 auto;
  }

  .about .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 55px;
  }
  .about .about-pets-image {
    margin: 0;
  }
  .about .text-block {
    margin: 52px 8px 0 0;
  }

  .our-friends h2 {
    padding-top: 87px;
  }
  .our-friends .pets {
    gap: 21px;
  }
  .our-friends .pets .pet:nth-child(1) {
    right: 9px;
  }
  .our-friends .pets .pet:nth-child(2) {
    position: relative;
    right: -11px;
  }
  .our-friends .pets .pet:nth-child(3) {
    display: none;
  }

  .help .help-items {
    gap: 55px 60px;
    margin: 0 0px 55px;
  }
  .help .help-items .help-item {
    width: 170px;
  }

  .in-addition {
    padding-bottom: 96px;
  }
  .in-addition .wrapper {
    flex-direction: column-reverse;
  }
  .in-addition .text-block {
    margin: 52px 0 30px 40px;
  }
  .in-addition .in-addition-dog {
    margin: 0;
  }

  footer .wrapper {
    flex-wrap: wrap;
    gap: 34px 59px;
    justify-content: center;
  }
  footer .contacts h3 {
    margin-top: 8px;
  }
  footer .addresses h3 {
    margin-top: 8px;
  }
  footer .footer-puppy {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 300px;
  }

  header .wrapper {
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  header nav {
    display: none;
  }
  header .mobile-menu {
    display: block;
  }

  .not-only .wrapper {
    gap: 104px;
  }
  .not-only h2 {
    width: 210px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 25px;
  }
  .not-only .need-house {
    width: 100%;
    padding: 59px 0 0 0;
  }
  .not-only .dog-need-house {
    padding: 0;
    margin-left: 35px;
  }
  .not-only p {
    text-align: center;
  }

  .about {
    padding-bottom: 34px;
  }
  .about .wrapper {
    gap: 20px;
  }
  .about .text-block {
    margin: 0;
  }
  .about .text-block h2 {
    font-size: 25px;
    text-align: center;
    max-width: 293px;
    margin: 42px auto 24px;
  }
  .about .text-block p {
    text-align: justify;
    width: 276px;
    margin: 0px auto 22px;
  }

  .our-friends {
    padding-bottom: 42px;
  }
  .our-friends h2 {
    margin: 0 auto 40px;
    padding: 45px 0 0 0;
    font-size: 25px;
    text-align: center;
  }
  .our-friends .pets {
    justify-content: center;
    margin-bottom: 43px;
  }
  .our-friends .pets .pet {
    margin: 0;
  }
  .our-friends .pets .pet:nth-child(1) {
    right: 0;
  }
  .our-friends .pets .pet:nth-child(2) {
    display: none;
  }
  .our-friends .pets .pet:nth-child(3) {
    display: none;
  }
  .our-friends .pets .slide-left {
    order: 0;
    margin-right: 57px;
  }

  .help {
    padding-bottom: 1px;
  }
  .help h2 {
    margin-bottom: 41px;
    padding-top: 41px;
    font-size: 25px;
  }
  .help .help-items {
    gap: 29px 34px;
    justify-content: flex-start;
    margin: 0 0px 40px 9px;
  }
  .help .help-items .help-item {
    width: 125px;
    gap: 21px;
  }
  .help .help-items .help-item img {
    width: 50px;
    height: 50px;
  }
  .help .help-items .help-item span {
    font-size: 15px;
  }

  .in-addition {
    padding-bottom: 37px;
  }
  .in-addition .wrapper {
    gap: 41px;
  }
  .in-addition .text-block {
    min-width: 0;
    margin: 0;
  }
  .in-addition .text-block h2 {
    margin: 42px 0 6px 0;
    font-size: 25px;
    text-align: center;
  }
  .in-addition .text-block p {
    margin-bottom: 25px;
    letter-spacing: normal;
    text-align: center;
  }
  .in-addition .text-block .credit-card {
    max-width: 260px;
    margin: 0 auto 22px;
    padding: 11px 15px;
  }
  .in-addition .text-block .credit-card a {
    font-size: 15px;
  }
  .in-addition .text-block .description {
    text-align: justify;
    padding: 0 10px;
  }

  footer .wrapper {
    gap: 15px;
  }
  footer .contacts h3 {
    margin-bottom: 36px;
    font-size: 25px;
    text-align: center;
  }
  footer .contacts .email {
    text-align: center;
    background-position-x: 14px;
  }
  footer .contacts .phone {
    text-align: center;
    background-position-x: 20px;
  }
  footer .addresses h3 {
    max-width: 235px;
    margin: 0 auto 39px;
    font-size: 25px;
    text-align: center;
  }
  footer .addresses .address-1 {
    padding: 0 0 36px 40px;
  }
  footer .addresses .address-2 {
    padding: 8px 0 23px 40px;
  }
}

/*# sourceMappingURL=style.css.map */
