@font-face {
  font-family: Georgia;
  font-weight: 400;
  font-style: normal;
  src: local(Georgia),
       url(./fonts/georgia/georgia-regular.ttf);
}

@font-face {
  font-family: Georgia;
  font-weight: 400;
  font-style: italic;
  src: local(Georgia),
       url(./fonts/georgia/georgia-italic.ttf);
}

@font-face {
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
  src: local(Arial),
       url(./fonts/arial/arial-regular.ttf);
}

@mixin align-center {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  font-family: Georgia;
  font-weight: 400;
}

body {
  background: url(./images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}



header {
  @include align-center;
  padding: 60px 0 0 0;
  
  nav {
    display: flex;
    column-gap: 36px;
    margin: 19px 0 0 0;

    a {
      height: 21px;
      color: #CDCDCD;
      font-size: 15px;
      font-family: Arial, sans-serif;
      text-decoration: none;

      &.current {
        color: #FAFAFA;
        border-bottom: 3px solid #F1CDB3;
      }
    }
  }

  h1 {
    margin: 0 0 9px 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
  
    a {
      color: #F1CDB3;
      text-decoration: none;
      font-size: 32px;
      letter-spacing: 2px;
      padding-bottom: 9px;
    }
  
    span {
      color: #FFFFFF;
      font-family: Arial, sans-serif;
      font-size: 13px;
      padding: 0 0 0 5px;
      letter-spacing: 0.1em;
    }
  }
}

.container {
  padding-top: 60px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.not-only {
  @include align-center;
  background: url(./images/start-screen-puppy.png) no-repeat 542px 59px;
  min-height: 787px;

  .need-house {
    width: 460px;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    padding: 223px 0 0 0;
  }

  h2 {
    width: 310px;
    margin: 0;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #CDCDCD;
    line-height: 160%;
    margin: 0;
  }

  .make-friend {
    font-size: 17px;
    background: #F1CDB3;
    border-radius: 100px;
    text-align: center;
    width: 207px;
    height: 52px;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #292929;
    line-height: 50px;

    &:hover {
      background: #FDDCC4;
    }
  }
}

.about {
  padding-bottom: 89px;
  background: #FFFFFF;

  .wrapper {
    justify-content: flex-end;
    background: url(./images/about-pets.png) no-repeat 175px 80px;
  }

  .text-block {
    max-width: 421px;
    margin: 66px 184px 0 0;
    color: #4C4C4C;

    h2 {
      margin: 29px 10px 23px 0;
      font-size: 35px;
      letter-spacing: 0.06em;
      line-height: 130%;
    }

    p {
      margin-bottom: 25px;
      font-family: Arial, sans-serif;
      font-size: 15px;
      line-height: 160%;
    }
  }
}

.our-friends {
  padding-bottom: 100px;
  background: #F6F6F6;

  h2 {
    font-size: 35px;
    text-align: center;
    padding: 81px 0 0 0;
    color: #545454;
    max-width: 400px;
    margin: 0 auto 58px;
    letter-spacing: 0.06em;
    line-height: 130%;
  }

  .wrapper {
    display: block;
  }

  .pets {
    display: flex;
    align-items: center;
    column-gap: 72px;
    margin: 0 0 61px 0;

    .slide-left {
      width: 52px;
      height: 52px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      background: url(./images/arrow-left.png) no-repeat center center;
    }

    .slide-right {
      width: 52px;
      height: 52px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      background: url(./images/arrow-right.png) no-repeat center center;
    }

    .slide-left:hover, .slide-right:hover {
      background-color: #FDDCC4;
      border-color: #FDDCC4;
      cursor: pointer;
    }

    .pet {
      display: flex;
      align-items: center;
      width: 270px;
      height: 435px;
      flex-direction: column;
      background: #FAFAFA;
      border-radius: 9px;

      span {
        margin: 30px 0;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
      }

      button {
        width: 187px;
        height: 52px;
        padding: 15px 42px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        font-size: 17px;
        letter-spacing: 0.06em;
        color: #292929;
        background: transparent;
        cursor: pointer;
      }

      &:hover {
        background: #FFFFFF;
        cursor: pointer;
      }
  
      &:hover > button {
        background: #FDDCC4;
        border-color: #FDDCC4;
      }

      &:nth-child(2) {
        position: relative;
        right: 18px;
      }
      
      &:nth-child(4) {
        position: relative;
        left: 18px;
      }

    }
  }

  .get-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 261px;
    padding: 16px 0px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    margin: 0 auto;

    &:hover {
      background: #FDDCC4;
    }
  }
}

.help {
  padding-bottom: 45px;
  background: #FFFFFF;

  h2 {
    font-size: 35px;
    text-align: center;
    padding: 81px 0 0 0;
    color: #545454;
    max-width: 400px;
    margin: 0 auto 58px;
    letter-spacing: 0.06em;
    line-height: 130%;
  }

  .help-items {
    display: flex;
    gap: 55px 120px;
    margin: 0 85px 55px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .help-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      span {
        font-size: 20px;
        color: #545454;
        text-align: center;
        letter-spacing: 0.06em;
      }
    }
  }

  .wrapper {
    display: block;
  }

}

.in-addition {
  background: #F6F6F6;
  padding-bottom: 100px;

  .wrapper {
    justify-content: flex-end;
    background: url(./images/donation-dog.png) no-repeat 143px 91px;
  }

  .text-block {
    display: flex;
    min-width: 420px;
    margin: 52px 101px 0 0;
    color: #545454;
    flex-direction: column;

    h2 {
      margin: 29px 0px 3px 0;
      font-size: 35px;
      letter-spacing: 0.06em;
      line-height: 130%;
    }

    p {
      margin-bottom: 19px;
      font-size: 15px;
      letter-spacing: 0.06em;
      color: #545454;
    }

    .credit-card {
      width: 318px;
      margin-bottom: 20px;
      padding: 10px 15px;
      
      background: url(./images/credit-card.svg) #F1CDB3 no-repeat 14px 10px;
      border-radius: 9px;

      a {
        text-decoration: none;
        color: #545454;
        letter-spacing: 0.06em;
        font-size: 20px;
        padding-left: 43px;
      }
    }

    .description {
      max-width: 360px;
      font-family: Arial, sans-serif;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      color: #B2B2B2;
    }
  }

}

footer {
  min-height: 350px;

  .wrapper {
    justify-content: flex-start;
    gap: 160px;
    min-height: 350px;
    background: url(./images/footer-puppy.png) no-repeat right 40px;
  }

  .contacts {
    display: flex;
    padding-top: 22px;
    flex-direction: column;
    max-width: 280px;

    h3 {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
    }

    .email {
      background: url(./images/icon-email.svg) no-repeat 0px 3px;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      text-indent: 61px;
      min-height: 30px;
      margin: 0px 0 34px 0;
      padding-top: 8px;
      text-decoration: none;
    }

    .phone {
      background: url(./images/icon-phone.svg) no-repeat 0px 3px;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      text-indent: 61px;
      min-height: 30px;
      padding-top: 8px;
      text-decoration: none;
    }
  }

  .addresses {
    display: flex;
    padding-top: 22px;
    flex-direction: column;
    max-width: 300px;

    h3 {
      margin-bottom: 32px;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
    }

    a {
      background: url(./images/icon-marker.png) no-repeat 0px 5px;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      min-height: 30px;
      line-height: 115%;
      text-decoration: none;
    }

    .address-1 {
      padding: 0 0 29px 40px;
    }

    .address-2 {
      padding: 8px 0 29px 40px;
    }
  }

}

@media screen and (max-width:768px) {
  header {
    padding: 30px 0 0 0;
  }

  .wrapper {
    max-width: 708px;
  }

  .not-only {
    min-height: 1074px;
    background: url(./images/768/start-screen-puppy.png) no-repeat 169px 481px;

    .need-house {
      margin: 0 auto;
      padding: 60px 0 0 0;
    }

    .make-friend {
      margin: 0 auto;
    }
  }

  .about {
    min-height: 959px;

    .wrapper {
      min-height: 959px;
      background: url(./images/about-pets.png) no-repeat 204px 540px;
    }

    .text-block {
      margin: 52px 148px 0 0;
    }
    
  }

  .our-friends {
    .pets {
      column-gap: 22px;

      .pet {
        &:nth-child(2) {
          right: 9px;
        }

        &:nth-child(3) {
          position: relative;
          right: -10px;
        }

        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  .help {
    .help-items {
      gap: 55px 60px;
      margin: 0 0px 55px;

      .help-item {
        width: 170px;
      }
    }
  }

  .in-addition {
    .wrapper {
      min-height: 683px;
      background: url(./images/donation-dog.png) no-repeat 101px bottom;
    }
    
    .text-block {
      margin: 52px 124px 0 0;
    }
  }

  footer {
    .wrapper {
      gap: 59px;
      justify-content: center;
      min-height: 639px;
      background: url(./images/footer-puppy.png) no-repeat center bottom;
    }

    .contacts {
      h3 {
        margin-top: 8px;
      }
    }

    .addresses {
      h3 {
        margin-top: 8px;
      }
    }
  }

}