@font-face {
  font-family: Georgia;
  font-weight: 400;
  font-style: normal;
  src: local(Georgia),
       url(./fonts/georgia/georgia-regular.ttf);
}

@font-face {
  font-family: Georgia;
  font-weight: 400;
  font-style: italic;
  src: local(Georgia),
       url(./fonts/georgia/georgia-italic.ttf);
}

@font-face {
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
  src: local(Arial),
       url(./fonts/arial/arial-regular.ttf);
}

@mixin align-center {
  width: 1280px;
  margin: 0 auto;
}

$base-font-family: Georgia;
$base-font-weight: 400;

* {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  background: #FFFFFF;
  padding: 30px 0 29px 0;
  position: sticky;
  top: 0;

  nav {
    display: flex;
    column-gap: 36px;
    margin: 19px 0 0 0;

    a {
      height: 21px;
      color: #545454;
      font-size: 15px;
      font-family: Arial, sans-serif;
      text-decoration: none;
    }

    a.current {
      color: #292929;
      border-bottom: 3px solid #F1CDB3;
    }

    a:hover {
      color: #292929;
    }
  }

  h1 {
    margin: 0 0 9px 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
  
    a {
      color: #545454;
      text-decoration: none;
      font-size: 32px;
      letter-spacing: 2px;
      padding-bottom: 9px;
    }
  
    span {
      color: #292929;
      font-family: Arial, sans-serif;
      font-size: 13px;
      padding: 0 0 0 5px;
      letter-spacing: 0.1em;
    }
  }
}

.our-friends {
  padding-bottom: 99px;
  background: #F6F6F6;

  h2 {
    font-size: 35px;
    text-align: center;
    padding: 81px 0 0 0;
    color: #545454;
    max-width: 400px;
    margin: 0 auto 58px;
    letter-spacing: 0.06em;
    line-height: 130%;
  }

  .wrapper {
    display: block;
  }

  .pets {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin: 0 0 61px 0;

    .pet {
      display: flex;
      align-items: center;
      width: 270px;
      height: 435px;
      flex-direction: column;
      background: #FAFAFA;
      border-radius: 9px;

      span {
        margin: 30px 0;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
      }

      button {
        width: 187px;
        height: 52px;
        padding: 15px 42px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        font-size: 17px;
        letter-spacing: 0.06em;
        color: #292929;
        background: transparent;
        cursor: pointer;
      }
    }

    .pet:hover {
      background: #FFFFFF;
      cursor: pointer;
    }

    .pet:hover > button {
      background: #FDDCC4;
      border-color: #FDDCC4;
    }
  }
  
  .pagination {
    display: flex;
    gap: 20px;
    justify-content: center;

    .first-page, .previous-page {
      width: 52px;
      height: 52px;
      border: 2px solid #CDCDCD;
      border-radius: 100px;
      font-size: 20px;
      color: #CDCDCD;
      background: transparent;
    }

    .current-page {
      width: 52px;
      height: 52px;
      background: #F1CDB3;
      border-radius: 100px;
      font-size: 20px;
      color: #292929;
      border: none;
    }

    .next-page, .last-page {
      width: 52px;
      height: 52px;
      border: 2px solid #F1CDB3;
      box-sizing: border-box;
      border-radius: 100px;
      font-size: 20px;
      color: #292929;
      background: transparent;
    }
  }
}

footer {
  min-height: 350px;
  background: url(./images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  .wrapper {
    justify-content: flex-start;
    gap: 160px;
    min-height: 350px;
    background: url(./images/footer-puppy.png) no-repeat right 40px;
  }

  .contacts {
    display: flex;
    padding-top: 22px;
    flex-direction: column;
    max-width: 280px;

    h3 {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
    }

    .email {
      background: url(./images/icon-email.svg) no-repeat 0px 3px;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      text-indent: 61px;
      min-height: 30px;
      margin: 0px 0 34px 0;
      padding-top: 8px;
      text-decoration: none;
    }

    .phone {
      background: url(./images/icon-phone.svg) no-repeat 0px 3px;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      text-indent: 61px;
      min-height: 30px;
      padding-top: 8px;
      text-decoration: none;
    }
  }

  .addresses {
    display: flex;
    padding-top: 22px;
    flex-direction: column;
    max-width: 300px;

    h3 {
      margin-bottom: 32px;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #FFFFFF;
    }

    a {
      background: url(./images/icon-marker.png) no-repeat 0px 5px;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #F1CDB3;
      min-height: 30px;
      line-height: 115%;
      text-decoration: none;
    }

    .address-1 {
      padding: 0 0 29px 40px;
    }

    .address-2 {
      padding: 8px 0 29px 40px;
    }
  }
}